<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ca.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ca.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ca.phone_number %>
</p>

<%= link_to 'Edit', edit_ca_path(@ca) %> |
<%= link_to 'Back', cas_path %>
