<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <h3>Hey <%= @guy_CA.name %>,</h3>
        <p>
            Your open house schedule is at <%= @timeslot.time %> on <%= @timeslot.date %> is now CANCELLED.
            The visitor's name was:  <%= @timeslot.client_name %><br>
            And His phone number was: <%= @timeslot.phone_number %><br>
        </p>
        <p>
            To check out the schedule in calendar view, just follow this link: <%= @url %>
        </p>
        <p> Thanks for this and have a great day!</p>
    </body>
</html>