<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <h3>Hey <%= @guy_CA.name %>,</h3>
        <p>
            Your open house schedule is at <%= @timeslot.time %> on <%= @timeslot.date %>.
            The visitor's name is:  <%= @timeslot.client_name %>.<br>
            And His phone number is: <%= @timeslot.phone_number %>.<br>
            
            He's visiting the APT: <%= @timeslot.apt_number %>.<br>
            The current tenant is: <%= @timeslot.current_tenant %>.<br>
        </p>
        <p>
            To check out the schedule in calendar view, just follow this link: <%= @url %>
        </p>
        <p> Thanks for this and have a great day son!</p>
    </body>
</html>