%center
  %main.header_block Edit info of CA
%br
= form_tag ca_path(@ca), :method => :put do

  = label :ca, :name, 'Name', :class => "edit_label"
  = text_field :ca, 'name'

  = label :ca, :email, 'Email', :class => "edit_label"
  = text_field :ca, 'email'
  
  = label :ca, :phone_number, 'Phone Number', :class => "edit_label"
  = text_field :ca, 'phone_number'
  %br
  =submit_tag 'Save', :class => "savebutton"
        
= button_to 'Delete', ca_path(@ca), :method => :delete, :confirm => 'Are you sure?', :class => "deletebutton"