%center
    %main.header_block Generate New Spreadsheet
= form_tag cas_path do

    = label :ca, :id, 'Id', :class => "edit_label"
    = text_field :ca, 'id'

    = label :ca, :days, 'Days', :class => "edit_label"
    = text_field :ca, 'days'

    %br
    = submit_tag 'Generate', :class => "savebutton"
    
=button_to 'CANCEL', cas_path, :method => :get, :class => "deletebutton"