%center
  %h2.header_block LIST of CA
%h4
  = link_to 'ADD CA', new_ca_path, class: "addButton", style: 'color: white;'
%br
%br
%br
%br
%table.myTable
  %thead
    %tr
      %th{:style => "padding:20px 150px 0px 15px;"} NAME
      %th{:style => "padding:20px 150px 0px 15px;"} EMAIL
      %th{:style => "padding:20px 150px 0px 15px;"} PHONE
      %th{:style => "padding:20px 50px 0px 15px"}
  %tbody
    - @ca.each do |item|
      %tr
        %td= item.name
        %td= item.email
        %td= item.phone_number
        %td= link_to "Details".html_safe, ca_path(item), class: "myButton"
