%body
    = link_to 'CALENDAR', cas_path, :class => 'buttons'
    = link_to 'CA INFO', cas_path, :class => 'buttons'
    = link_to 'ADD CA', new_ca_path, :class => 'buttons button3'
    %main
    = form_tag cas_path do
        = label :ca, 'NAME'
        = text_field :post, :name

        = label :ca, 'EMAIL'
        = text_field :post, :email
  
        = label :ca, 'PHONE'
        = text_field :post, :phone_number
  
        = submit_tag 'ADD'
    =button_to 'CANCEL', cas_path, :method => :get


