%center
    %main.header_block Fill below to add new CA
= form_tag cas_path do

    = label :ca, :name, 'Name', :class => "edit_label"
    = text_field :ca, 'name'

    = label :ca, :email, 'Email', :class => "edit_label"
    = text_field :ca, 'email'

    = label :ca, :phone_number, 'Phone Number', :class => "edit_label"
    = text_field :ca, 'phone_number'
%br
    = submit_tag 'Add', :class => "savebutton"
    
=button_to 'CANCEL', cas_path, :method => :get, :class => "deletebutton"


