%main Fill below to add new CA
= form_tag cas_path do

    = label :ca, :name, 'Name'
    = text_field :ca, 'name'

    = label :ca, :email, 'Email'
    = text_field :ca, 'email'

    = label :ca, :phone_number, 'Phone Number'
    = text_field :ca, 'phone_number'
%br
    = submit_tag 'Add'
=button_to 'CANCEL', cas_path, :method => :get


