
%center
  %h2.header_block
    %big Schedule for <em><b>#{@ca.name}</b></em>
  %br
  %br
%h3.info_block
  Email: #{@ca.email} 
  %br/
  Phone Number: #{@ca.phone_number}

%h4
  = link_to "Add Availability", new_ca_event_path(@ca), id: 'new_event', class: "addButton", style: 'color: white;'
  = link_to "Edit CA Info", edit_ca_path(@ca), class: "addButton", style: 'color: white;'

%body
  %p
    %div
      #calendar
    #desc_dialog.dialog{:style => "display:none;"}
      #event_desc
      %br/
      %br/
      #event_actions
        %span#edit_event
        %span#delete_event
    #create_event_dialog.dialog{:style => "display:none;"}
      #create_event




:javascript  
  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      var url = document.URL;
      var ca_id = url.substring(url.lastIndexOf('/') + 1);
      $('#new_event').click(function(event) {
        event.preventDefault();
        var url = $(this).attr('href');
        $.ajax({
          url: url,
          beforeSend: function() {
            $('#loading').show();
          },
          complete: function() {
            $('#loading').hide();
          },
          success: function(data) {
            $('#create_event').replaceWith(data['form']);
            $('#create_event_dialog').dialog({
              title: 'New Open House Schedule',
              modal: true,
              width: 400,
              close: function(event, ui) { $('#create_event_dialog').dialog('destroy') }
            });
          }
        });
      });

      $('#calendar').fullCalendar({
          defaultEventMinutes : 30,
          editable: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          weekends: false,
          defaultView: 'month',
          slotMinutes: 30,
          aspectRatio: 1.5,
          disableResizing: true,
          loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          events: "/cas/"+ca_id+"/get_ca_events",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, revertFunc){
                  moveEvent(event, dayDelta, minuteDelta);

          },
          
          eventClick: function(event, jsEvent, view){
            // change the border color just for fun
            $(this).css('border-color', 'red');
              showEventDetails(event);
          },
          eventRender: function (event, element) {
              element.find('.fc-event-title').append("  " + event.ca_name.toUpperCase()); 
          }
      
      });
  });
