%center
    %main.header_block Populate Spreadsheet
    %h2 Please input the month, year, and link of your newly created spreadsheet
= form_tag spreadsheets_path do

    = label :ca, :month, 'Month', :class => "edit_label"
    = text_field :ca, 'month'
    

    = label :ca, :year, 'Year', :class => "edit_label"
    = text_field :ca, 'year'
    
    = label :ca, :spreadsheet_url, 'New Spreadsheet Link', :class => "edit_label"
    = text_field :ca, 'link'

    %br
    = submit_tag 'Populate', :class => "savebutton"
    
=button_to 'CANCEL', spreadsheets_path, :method => :get, :class => "deletebutton"