<!DOCTYPE html>
<html>
  <head>
    <title>UC Berkeley Housing</title>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body class="subpage">
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <div class="subPageContent">
        <% if flash[:notice] -%>
        <div id = 'flash_notice'>
          <%= flash[:notice] %>
        </div>
        <% end -%>
        <% if flash[:error] -%>
        <div id = 'flash_error'>
          <%= flash[:error] %>
        </div>
        <%end -%>
      </div>
    </div>
    
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
    
    <script type="text/javascript">
      authenticity_token = "<%= form_authenticity_token %>"
    </script>


  </body>
</html>
