<!DOCTYPE html>
<html>
  <head>
    <title>UC Berkeley Housing</title>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body class="subpage">
    <%= render 'layouts/header' %>
    
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if not Rails.env.development? %>
    </div>
    
    
    <script type="text/javascript">
      authenticity_token = "<%= form_authenticity_token %>"
    </script>


  </body>
</html>
